.content-container {
  padding: 0 1.6rem;
  margin: 0 auto;
  max-width: 1300px;
}

.py2 {
  padding-top: 1.6rem;
  padding-bottom: 1.6rem;
}
.py4 {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

.mb1 {
  margin-bottom: 1.0rem;
}

.border-bottom {
  border-bottom: 1px black solid;
}

.border-color--navy {
  border-color: #506C9D;
}

.mb2 {
  margin-bottom: 1.6rem;
}

.mr2 {
  margin-right: 1.6rem;
}

.pl2 {
  padding-left: 1.6rem;
}

.pl3 {
  padding-left: 3.0rem;
}

.bg-navy {
  background-color: #506C9D;
}

.text-navy {
  color: #506C9D;
}

.text-dark-blue {
  color: #202941;
}
.text-blue-electric {
  color: #2C6EB5;
}
.bg-dark-blue {
  background-color: #202941;
}

.bg-grey {
  background-color: #506C9D;
}

.h1 {
  font-size: 2.6rem;
}

.h2 {
  font-size: 1.6rem;
}

.h3 {
  font-size: 1.0rem;
}

.text-white {
  color: white;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
}

.justify-content--space-between {
  justify-content: space-between;
}

.justify-content--space-around {
  justify-content: space-around;
}

.align-items--center {
  align-items: center;
}

.m0 {
  margin: 0;
}

.btn-primary {
  background-color:  #2C6EB5 !important;
  border-color:  #2C6EB5 !important;
}